.Background {
    z-index: -1;
}

.start-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.startContainerAbout {
    display: flex;
    flex-direction: column;
    align-items:start;
    height: 100vh; 
    width: 90%;
    margin-left: 7vh;
    margin-top: 16vh;
    color: #FFFFFF;
    z-index: 1;
}

.chartContainer{
    width: 10%;
    margin-right: 50vh;
}

.chart {
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 7.8s;
    height: 40vh;
    width: auto;
    flex-grow: 1;
    margin-right: 7vh;
}

.startContainerAbout h1 {
    z-index: 1;
}

.h11 {
    font-size: 34px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.h12{
    font-size: 34px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 6.0s;
}

.mainText {
    font-size: 22px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 2vh;
    margin-bottom: 2vh;
    max-width: 60%;
    z-index: 1;
}

.p1 {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.0s;
}

.p2 {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

.techH1 {
    font-size: 34px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2.0s;
}

.icons {
    width: 100%;
    z-index: 1;
}

.icons img {
    margin-right: 1vh;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.icons img:nth-child(1) {
    animation-delay: 1.9s;
}

.icons img:nth-child(2) {
    animation-delay: 2.1s;
}

.icons img:nth-child(3) {
    animation-delay: 2.3s;
}

.icons img:nth-child(4) {
    animation-delay: 2.5s;
}

.icons img:nth-child(5) {
    animation-delay: 2.7s;
}

.icons img:nth-child(6) {
    animation-delay: 2.9s;
}

.icons img:nth-child(7) {
    animation-delay: 3.1s;
}

.icons img:nth-child(8) {
    animation-delay: 3.3s;
}

.icons img:nth-child(9) {
    animation-delay: 3.5s;
}

.icons img:nth-child(10) {
    animation-delay: 3.7s;
}

.icons img:nth-child(11) {
    animation-delay: 3.9s;
}

.icons img:nth-child(12) {
    animation-delay: 4.1s;
}

.icons img:nth-child(13) {
    animation-delay: 4.3s;
}

.icons img:nth-child(14) {
    animation-delay: 4.5s;
}

.icons img:nth-child(15) {
    animation-delay: 4.7s;
}

.icons img:nth-child(16) {
    animation-delay: 4.9s;
}

.icons img:nth-child(17) {
    animation-delay: 5.1s;
}

.icons img:nth-child(18) {
    animation-delay: 5.3s;
}

.icons img:nth-child(19) {
    animation-delay: 5.5s;
}

.icons img:nth-child(20) {
    animation-delay: 5.7s;
}

.certifications a {
    margin-right: 3vh;
    margin-bottom: 1vh;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.certImg3, .certImg4 {
    width: 30vh;
    height: auto;
}

.certifications img:nth-child(1) {
    width: 20vh;
}

.certifications img:nth-child(2) {
    width: 20vh;
}

.certifications img:nth-child(3) {
    width: 80vh;
}

.certifications img:nth-child(4) {
    width: 80vh;
}

.certifications a:nth-child(1) {
    animation-delay: 6.5s;
}

.certifications a:nth-child(2) {
    animation-delay: 6.8s;
}

.certifications a:nth-child(3) {
    animation-delay: 7.1s;
}

.certifications a:nth-child(4) {
    animation-delay: 7.4s;
}