html, body {
    overflow: hidden;
    color: #FFFFFF;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mainH1 {
    font-size: 92px;
    font-weight: bolder;
    margin-top: 16vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s;
}

.titleH1 {
    font-size: 52px;
    font-weight:bold;
}

.contactContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 60%;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.contactText {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 2vh;
    max-width: 80%;
    text-align: center;
}

.callToSocials {
    font-size: 52px;
    font-weight: bold;
    margin-top: 2vh;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 2vh;
}

.socialIcons img {
    height: auto;
    width: 10vh;
}