html, body {
    overflow: hidden;
    color: #FFFFFF;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-left: 7vh;
}

.mainH1 {
    font-size: 92px;
    font-weight: bolder;
    margin-top: 16vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s;
}

.titleH1 {
    font-size: 52px;
    font-weight:bold;
    margin-top: 5vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.contactText {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 2vh;
    max-width: 30%;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.0s;
}

.callToSocials {
    font-size: 52px;
    font-weight: bold;
    margin-top: 5vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

.socialIcons {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-top: 2vh;
}

.socialIcons img {
    height: auto;
    width: 6vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.socialIcons a {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.socialIcons a:nth-child(1) {
    animation-delay: 2.0s;
}

.socialIcons img:nth-child(1) {
    animation-delay: 2.0s;
}

.socialIcons a:nth-child(2) {
    animation-delay: 2.3s;
}

.socialIcons img:nth-child(2) {
    animation-delay: 2.3s;
}

.socialIcons a:nth-child(3) {
    animation-delay: 2.6s;
}

.socialIcons img:nth-child(3) {
    animation-delay: 2.6s;
}