html, body {
    overflow: hidden;
}

.ContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.startContainerHome {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh; 
    margin-left: 18vh;
    position: relative;
    top: 35vh;
}

.introIntro {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 15vh;
    margin-left: 10vh;
}

.introName {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 22vh;
    margin-left: 15vh;
}

.introP {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 29vh;
    margin-left: 26vh;
}


.imgIntro {
    width: 50%;
    margin: 20px;
    flex: 0;
}

.introTitle {
    font-size: 48px;
    font-weight: 650;
    margin: 20px;
    color: #FFFFFF;
    flex: 2;
    max-width: 55%;
}

.introSubtitle {
    display: flex;
    flex: 2;
}

.introSubtitle1 {
    font-size: 74px;
    font-weight: 750;
    color: #00FF66;
    display: inline;
    white-space: nowrap;
    margin-right: 2%;
}

.introSubtitle2 {
    font-size: 74px;
    font-weight: 750;
    color: #3366FF;
    display: inline; 
    white-space: nowrap;
}

.introSubtitle3 {
    font-size: 74px;
    font-weight: 750;
    color: #FFFFFF;
    margin-top: -2vh;
    margin-bottom: 5%;
    margin-left: 5%;
}

.introText {
    font-size: 24px;
    font-weight: 500;
    flex: 3;
    margin-bottom: 15%;
} 