html, body {
    overflow: hidden;
}

.ContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.startContainerHome {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh; 
    margin-left: 18vh;
    position: relative;
    top: 35vh;
}

.introIntro {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 10vh;
    margin-left: 10vh;
}

.introName1 {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 17vh;
    margin-left: 20vh;
}

.introName2 {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 24vh;
    margin-left: 30vh;
}

.introP {
    font-size: 62px;
    font-weight: 750;
    color: #FFFFFF;
    position: absolute;
    top: 30vh;
    margin-left: 50vh;
}


.imgIntro {
    width: 50%;
    margin: 20px;
    flex: 0;
}

.introTitle {
    top: -2vh;
    font-size: 48px;
    font-weight: 650;
    margin: 20px;
    color: #FFFFFF;
    flex: 2;
    max-width: 55%;
}

.introSubtitle {
    display: flex;
    flex: 2;
}

.introSubtitle1 {
    font-size: 74px;
    font-weight: 750;
    color: #00FF66;
    display: inline;
    white-space: nowrap;
    margin-right: 2%;
}

.introSubtitle2 {
    font-size: 74px;
    font-weight: 750;
    color: #3366FF;
    display: inline; 
    white-space: nowrap;
}

.introSubtitle3 {
    font-size: 74px;
    font-weight: 750;
    color: #FFFFFF;
    margin-top: -2vh;
    margin-bottom: 5%;
    margin-left: 5%;
}

.introText {
    font-size: 24px;
    font-weight: 500;
    flex: 3;
    margin-bottom: 15%;
} 

button {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}

.buttonsRow {
    display: flex;
    gap: 20px; 
}

.getInTouchButton {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #00FF66;
    border: none;
    border-radius: 25px;
    padding: 15px 140px;
    cursor: pointer;
}

.getInTouchButton:hover {
    filter:drop-shadow(0px 0px 10px #00FF66);
}

.projectsButton {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #3366FF;
    border: none;
    border-radius: 25px;
    padding: 15px 140px;
    cursor: pointer;
}

.projectsButton:hover {
    filter:drop-shadow(0px 0px 10px #3366FF);
}

.aboutButton {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #333333;
    border: none;
    border-radius: 25px;
    padding: 15px 280px;
    cursor: pointer;
}

.aboutButton:hover {
    filter:drop-shadow(0px 0px 10px #333333);
}
