body, html {
    overflow-y: scroll;
}

.projectsPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 0vh;
}

.title {
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 15vh;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: auto;
    width: 100%;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    width: 75%;
    height: auto;
    padding-top: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 4vh;
    background-color: #1A1A1A;
    border-radius: 30px;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.pageContainer .projectCard:nth-child(1) {
    animation-delay: 1.0s;
}

.pageContainer .projectCard:nth-child(2) {
    animation-delay: 1.5s;
}

.pageContainer .projectCard:nth-child(3) {
    animation-delay: 2.0s;
}

.pageContainer .projectCard:nth-child(4) {
    animation-delay: 2.5s;
}

.pageContainer .projectCard:nth-child(5) {
    animation-delay: 3.0s;
}

.projectTitle {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    margin: 2vh 0 1vh 5vh;
}

.projectDescription {
    font-size: 20px;
    font-weight: normal;
    max-width: 93%;
    color: #FFFFFF;
    margin: 2vh 2vh 1vh 5vh;
}

.images {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.projectImage {
    width: 50%;
    height: 100%;
    margin-top: 1vh;
    border-radius: 30px;
    object-fit: cover;
}

.projectTech {
    font-size: 1.25em;
    margin: 4vh 0 0 5vh;
    display: flex;
    align-items: center;
}

.projectTech h1 {
    font-size: 1em;
    color: #009c3f;
    margin: 0 1vh 0 0;
}

.projectTech p {
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 0;
}

.projectIcons {
    display: flex;
    flex-direction: row;
    margin-left: 85%;
    margin-bottom: 1vh;
    margin-top: -5vh;
}

.projectIcons a {
    margin-left: 1vh;
}

.projectIcon {
    display: block;
    width: 5vh;
    height: auto;
    margin-left: 1vh;
}