body, html {
    overflow: scroll;
}

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.title {
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 12vh;
    z-index: 1;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    width: 100%;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    width: 75%;
    height: auto;
    padding-top: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 4vh;
    background-color: #1A1A1A;
    border-radius: 50px;
    box-sizing: border-box;
}

.projectCard:nth-child(even) {
    align-self: flex-end; /* Align even project cards to the right */
}

.projectCard:nth-child(odd) {
    align-self: flex-start; /* Align odd project cards to the left */
}

.projectTitle {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 1vh 2vh;
}

.projectDescription {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0 1vh 1vh 2vh;
}

.images {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.projectImage {
    width: 30%;
    height: auto;
    margin-top: 1vh;
    border-radius: 30px;
    object-fit: cover;
}

.projectTech {
    font-size: 1.25em;
    margin: 2vh 0 0 2vh;
    display: flex;
    align-items: center;
}

.projectTech h1 {
    font-size: 1em;
    color: #009c3f;
    margin: 0 1vh 0 0;
}

.projectTech p {
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 0;
}

.projectIcons {
    display: flex;
    flex-direction: row;
    margin-left: 80%;
    margin-bottom: 1vh;
}

.projectIcons a {
    margin-left: 1vh;
}

.projectIcon {
    display: block;
    width: 5vh;
    height: auto;
    margin-left: 1vh;
}