* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
body, html {
    height: 100%;
    background-color: #000;
    color: #fff
  }

button {
    background-color: #213547;
    color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #747bff;
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
}
.navbar {
  background-color: #222;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.navLogo {
  font-size: 24px;
  font-weight: bold;
  color: #fff !important;
  text-decoration: none;
  transition: color 0.3s;
}

.navLogo:hover {
  color: #ffcc00 !important;
}

.navLink {
  font-size: 18px;
  font-weight: 500;
  color: #ddd !important;
  text-decoration: none !important;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.navLink:visited {
  color: #ddd !important;
}

.navLink:hover {
  background: #ffcc00 !important;
  color: #222 !important;
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    gap: 10px;
  }
}