.navbar {
    background-color: #1A1A1A ;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
} 

.navbarLink {
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 20px;
    display: flex;
    justify-content: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex: 1;
    text-decoration: none;
}
  
.navContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navContainer button {
    background-color: #333333 ;
    color: #FFFFFF;
    padding: 10px 25px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.navContainer button:hover {
    background-color: #009c3f  ;
}
  
@media (max-width: 768px) {
    .navContainer {
      flex-direction: column;
      gap: 10px;
    }
}